@*@model ABIY_One.Models.UploadDesign*@
@{
    ViewBag.Title = "Thanks2";
}

<h2>Nice!! Your Design has been uploaded</h2>

@*<h2>View it here:   @Html.ActionLink("Details", "Details", new { id = Model.UploadId })</h2>*@


